<!--START JAVASCRIPT-->
<script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="scripts/jquery.cycle2.js"></script>
<!--END JAVASCRIPT-->

<!--START SLIDESHOW-->
<div class="cycle-slideshow" 
    data-cycle-fx="scrollHorz"
    data-cycle-timeout=0
    data-cycle-slides="> div"
    data-cycle-prev="#prev"
    data-cycle-next="#next"
    >
    
    <!--SLIDE 1-->
    <div><!--PUT SLIDE HERE--></div>
    
</div>
<!--END SLIDESHOW-->

<!--NAVIGATION PREVIOUS-->
<a class="nav" href="" id=prev>&lt;</a>

<!--NAVIGATION NEXT-->
<a class="nav" href="" id=next>&gt;</a>