body {
  background-color: #fffbf8;
  font-family: Georgia;
/*  overflow-x: hidden;
*/}

#container {
  width: 100%;
/*  border: 2px green solid;*/
  margin: 0 auto;
  text-align: center;
  display: block;
}

.nav {
	margin: 20px 0px 10px 0px;
}

.nav h4 {
	font-weight: normal;
	display: inline;
	margin: 0px 10px 0px 10px;
	line-height: 2em;
}

.nav h4 a {
	color: black;
	text-decoration: none;
}

.nav h4 a:hover {
	color: #e88e85;
	cursor: pointer;
	text-decoration: none;
	transition:.4s;
	-webkit-transition:.4s;
}

.date {
	margin: 10px 0px 0px 0px;
	font-weight: normal;
	font-style: italic;
	line-height: 1.8em;
}

.name {
	width: 575px;
	display: block;
	margin: 0 auto;
}

.pic {
	display: block;
	margin: 10px auto;
}

.flowers {
	position: fixed;
	width: 20%;
	transition:.4s;
	-webkit-transition:.4s;
}

.one {
	top: 0;
	left: 0;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.two {
	top: 0;
	right: 0;
}

.three {
	bottom: 0;
	left: 0;
}

.four {
	bottom: 0;
	right: 0;
}

h5 {
	width: 65%;
	line-height: 1.4em;
  margin: 10px auto;
  font-style: italic;
  font-weight: normal;
}
/*DETAILS----------------------*/
h3 {
  line-height: 1.45em;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
}

.details {
  margin-top: 20px;
  width: 200px;
  display: inline-block;
/*  background-color: pink;*/
  padding: 10px;
  vertical-align: top;
}

/*PHOTOS----------------------*/
.gallery {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.myImg {
  display: inline-block;
  width: 200px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.myImg:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    text-align: left;
    color: white;
    padding: .5%;
    height: 25px;
    font-family: tenso, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 9px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*GUEST BOOK----------------------*/
.guestbook h5 {
  font-weight: normal;
  font-size: 11px;
}

#profile_5b07b06e7854e {
    display: none !important;
}

.fcs-comment-container {
  margin: 0 auto !important;
  width: 70% !important;
}

.fcs-commentbox-header {
  display: none !important;
}

.fcs-container-commentbox-buttons {
  display: none !important;
}

.fcs_voting_container {
    display: none !important;
}

.comment-box {
  margin-top: 30px !important;
  font-family: Georgia !important; 
}

.comment-box p {
    font-family: Georgia !important;
   font-style: italic !important;
}

.comment-label {
  font-family: Georgia !important;
}


/*MEDIA QUERIES----------------------*/
@media screen and (max-width: 1920px) {
.pic{ width: 800px;}
}

@media screen and (max-width: 1280px) {
.pic{ width: 550px;}
h5 { width: 50%; }
}

@media screen and (max-width: 840px) {
.nav h4 { font-size: 12px;}
}

@media screen and (max-width: 700px) {
.nav h4 { display: block;}
.pic {width: 400px;}
.name {width: 450px;}
.date {font-size: 12px;}
h5 { width: 65%; }
}

@media screen and (max-width: 450px) {
#container {width: 100%}
.pic {width: 100%;}
.name {width:100%;}
.flowers {width: 33%}
.fcs-comment-container {width: 100% !important; margin-bottom: 100px !important; }
.myImg {width: 100%;}
.details {margin-top: 5px;}
}

@media screen and (max-width: 350px) {

}




