body {	
	background-color: rgba(112,102,150,1);
	color:yellow;
	overflow-x: hidden;
	margin: 0; 
	font-family: Arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 48px;
	color: white;
}

.container {
	margin:30px 0px 100px 80px;
	width: 100%;
	background-color: rgba(112,102,150,1);
	padding: 8px;
	line-height: 2em;
	text-align: left;
}

a {
	text-decoration: none;
	color: white;
	font-size: 100px;
	line-height: 24px;
}
a:hover {
	color: rgba(241, 167, 180, 0.);
	cursor: pointer;
}



