body {
	margin: 0px;
	background-color: black;
}
* {
	box-sizing: border-box;
}

.temp-container {
	width: 100%;
	display: block; 
}


/*NAVIGATION CORNERS-------------------------------------*/
.link {
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	text-decoration: none;
	color: #ffffff;
	z-index: 2;
}
.link a {
	text-decoration: none;
	color:#ffffff;
}
.link a:hover {
	text-decoration: underline;
}
.link a:active {
	color: black;
	text-decoration: none;
	color:  #414141;
}
.link.about  {
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	position: fixed;
	top: 5%;
	left: 5%;
}
.link.work  {
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	position: fixed;
	top: 5%;
	right: 5%;
}
.link.shop  {
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	position: fixed;
	bottom: 5%;
	left: 5%;
}
.link.contact  {
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	position: fixed;
	bottom: 5%;
	right: 5%;
}


.newpage {
	width: 100%;
	height: 1200px;
}

/*HOME PAGE-------------------------------------------------*/
.newpage.one {
	height: 1200px;
	margin-top: 150px auto;
	background-color: black;
}
.home {
	position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.home img {
	width: 100%;
}

.home.large {
	width:1038px;
	height:732px;
	position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
    -o-transition: 0.5s;
	-moz-transition: 0.5s;
	-khtml-transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.home.small {
	width:248px;
	height:78px;
	position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%)
    -o-transition: 0.3s;
	-moz-transition: 0.3s;
	-khtml-transition: 0.3s;
	-webkit-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}


/*ABOUT-------------------------------------------------*/
.newpage.two {
	background-color: red;
	height: 1000px;
}

.about {
	width: 100%;
}
h2 {
	font-family: tenso, sans-serif;
	font-size: 96px;
	font-style: italic;
	font-weight: 600;
	text-decoration: underline;
	color: #ffffff;
	padding-top: 160px;
	margin: 0px;
}

.about h2 {
	text-align: center;
}

h3 {
	font-family: tenso, sans-serif;
	font-size: 60px;
	font-style: italic;
	font-weight: 400;
	color: #ffffff;
	margin: 0px;
	padding: 80px;
}

/*WORK-------------------------------------------------*/
.newpage.three {
	background-color: blue;
	height: 1200px;
}
.works {
	width: 90%;
	height: 100%;
	background-color: lime;
	position: relative;
	padding-top: 120px;
	margin: 0px auto;
}

.thumbnail {
	width: 30%;
	height: auto;
	background-color: orange;
	position: relative;
	float:left;
	padding: 0;
	margin-right: 5%;	
	margin-top: 5%;
}
.last {
	margin-right: 0;
}


/*SHOPS-------------------------------------------------*/
.newpage.four {
	background-color: green;
	height: 1200px;
}

.shops {
	width: 90%;
	height: 100%;
	background-color: cyan;
	position: relative;
	padding-top: 120px;
	margin: 0px auto;
}

.thumbnail {
	width: 30%;
	height: auto;
	position: relative;
	float:left;
	padding: 0;
	margin-right: 5%;	
	margin-top: 5%;
}
.last {
	margin-right: 0;
}

/*CONTACT-------------------------------------------------*/
.newpage.five {
	background-color: red;
	height: 1000px;
}

.contacting {
	width: 100%;
}
h2 {
	font-family: tenso, sans-serif;
	font-size: 96px;
	font-style: italic;
	font-weight: 600;
	text-decoration: underline;
	color: #ffffff;
	padding-top: 160px;
	margin: 0px;
}

.contacting h2 {
	text-align: center;
}

h3 {
	font-family: tenso, sans-serif;
	font-size: 60px;
	font-style: italic;
	font-weight: 400;
	color: #ffffff;
	margin: 0px;
	padding: 80px;
}



/*.parallax {
*/    /* The image used */
/*    background-image: url('images/AM333-test-6.gif');
*/
    /* Set a specific height */
/*    min-height: 1200px; */

    /* Create the parallax scrolling effect */
/*    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.two {
	background-image: url('images/HD-EVERY-NIGHT.jpg');

}

.homie {
	height:800px;
	background-color:red;
	font-size:36px
}
*/

/* Media Queries*/
@media screen and (max-width: 1200x) {
  .container { width:944px; }
}

@media screen and (max-width: 768px) {
  .link { font-size: 40px;}
}

@media screen and (max-width: 600px) {
  .home { width: 488px; height: 318px; top: 40%;}
  .link { font-size: 40px;}
  .parallax { min-height: 1775px;}
  .newpage.one { height: 700px;}
}

@media screen and (max-width: 480px) {
  .home.large { width: 398px; height: 239.75px; top: 45%;}
  .home.small { width: 198px; height: 139.75; top: 10%;}
  .link { font-size: 36px;}
  .newpage.two {height: 700px;}
  .newpage.three {height: 2500px;}
  .newpage.four {height: 2500px;}
  .newpage.five {height: 700px;}
  .thumbnail { float: none; width: 100%; margin-right: 0;}
  h2 {font-size: 48px}
  h3 {font-size: 24px}
}
