html,body{
    height: 100%;
}

body {
	margin: 0px;
	background-color: white;
	overflow-x: hidden;
	background-color: black;
}

* {
	box-sizing: border-box;
}


/* NAVIGATION SIDEBAR-------------------*/

.sidebar {
	width: 175px;
	height: 100%;
	background-color: black;
	padding: 30px 0px 0px 30px;
	display: block;
	position: fixed;
	z-index: 5;
/*	box-shadow: 5px 0px 50px rgba(0,0,0,0.5);
*/}

.sidebar img {
	width: 110px;
	-webkit-transition: .2s; /* Safari */
	transition: .2s;
}

.sidebar img:hover {
	opacity: 0.4;
}

.links {
	margin-top: 15px;
	display: block;
}

.links a {
	display: block;
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	line-height: 2em;
	text-decoration: none;
	-webkit-transition: .2s; /* Safari */
	transition: .2s;
}
 
.links a:visited {
	color: white;
}

.links a:hover {
	opacity: 0.4;
}

.links a.active-link {
	opacity: 0.4 !important;
}

.footer {
	position: fixed;
	bottom: 10px;
	left: 30px;
	width: 150px;
	display: block;
	z-index: 5;
}

.copyright {
	color: white;
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 1.6em;
	text-align: left;
	display: inline-block;
	text-decoration: none;
}

.space {
	visibility: hidden;
	height: 30px;
	width: 100%;
	background-color: black;
	position: relative;
	display: none;
}

/*CONTENT*/
.content {
	margin-left: 175px;
	display: block;
	background-color: white;
	overflow-x: hidden;
}

.hero {
	width: 100%;
	background-color: black;
	float: left;
	position: relative;
	display: inline-block;
}

.hero img {
	position: relative;
	display: block;
	background-color: white;
	width: 100%;
}

.intro {
	background-color: black;
	padding: 75px 50px;
	display: inline-block;
	width: 100%;
}

.header {
	display:inline-block;
	margin: 0% 30px 0% 0%;
	width: 45%;
	vertical-align: top;
/*	background-color: green;
*/}

.moreinfo {
	background-color: white;
	padding: 75px 50px 0 50px;
}


.header h1,
.header h2,
.header h3,
.header h5,
.header h6 {
	text-align: right;
}

.description {
	display: inline-block;
	width: 45%;
	/*background-color: blue;*/
}

.center-description{
	display: block;
	margin: 0 auto;
	width: 45%;
}

.images {
	position: relative;
	display: block;
	margin: 75px 50px 0px 50px;
}

.images img {
	position: relative;
	display: block;
	background-color: white;
	max-width: 100%;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
	-webkit-transition: .3s; /* Safari */
	transition: .3s;
}

.images img:hover {
	opacity: 0.7;
}

.caption {
	background-color: black;
	padding: .5%;
	width: 45%;
	position: absolute;
	bottom: 0px;
	z-index: 4;
}


h1 {
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 36px;
	text-align: left;
	margin: 0;
	
}

h2 {
	color: black;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 36px;
	text-align: left;
	margin: 0;
}

h3 {
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: left;
	margin: 4px 0 0 0;
}

h4 {
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 9px;
	margin: 0;
}

h5 {
	color: white;
	font-family: tenso, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
	margin: 2px 0 0 0;
}

h6 {
	color: black;
	font-family: tenso, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
	margin: 2px 0 0 0;
}

p {
	margin: 0 0 15px 0;
}

.description a {
	color: inherit;
	font-weight: 600;
}
.description a:hover{
	opacity: 0.5;
}

 /* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    -webkit-transition: .3s; /* Safari */
	transition: .3s;
	/*box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);*/
}

/*.images img:hover {opacity: 0.8;}
*/

/*Bottom Projects Navigation---------------------------------*/

.nav-projects {
	background-color: black;
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 75px;
}

.nav-projects h5 {
	text-align: center;
	line-height: 2em;
	font-weight: bold;
}

.nav-projects h5 a {
	color: #bbb;
	margin: 4%;
	text-decoration: none;
	transition: 0.6s ease;
	-webkit-transition: 0.6s ease;
}

.nav-projects h5 a:hover {
	opacity: 0.4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 875px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 875px;
    text-align: left;
    color: white;
    padding: .5%;
    height: 25px;
    font-family: tenso, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 9px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Media Queries*/
@media screen and (max-width: 900px) {
.close {right:8px;}
.center-description{ width: 60%;}
}

@media screen and (max-width: 768px) {
.header h1,
.header h2,
.header h3,
.header h5,
.header h6 {text-align: left;}
.intro {padding: 20px;}
.moreinfo  {padding: 20px;}
.header {width: 100%;padding: 0px;}
.description {width: 100%; margin-top: 10px;}
.images { margin: 20px 10px 0px 10px;}
.images2 { margin: 20px 10px 0px 10px;}
.caption {left: 0px; width: 75%;}
.center-description{ width: 100%;}
.nav-projects{ margin-top: 20px;}
}


@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
/*RESPONSIVE SIDEBAR*/
.sidebar {width: 100%; height: 45px; padding: 10px 0 0 10px;}
.sidebar img {width: 50px; display: inline-block; margin-right: 8px;}
.links {margin-top: -15px; display: inline-block; vertical-align: middle; }
.links a { display: inline-block; font-size: 18px; margin: 0 8px; }
.content {margin-left: 0px; padding-top:45px;}
.space {visibility: visible; display: block;}
.footer { left: 0; bottom: 0; height: 30px; width: 100%; width: 100%; background-color: black; padding: 5px 0 5px 10px;}
}


@media screen and (max-width: 480px) {	

}


@media screen and (max-width: 414px) {	

}

@media screen and (max-width: 370px) {	

}


@media screen and (max-width: 320px) {	
h3 {font-size: 9px}
h5 {font-size: 12px;}
h6 {font-size: 12px;}
}

