html,body{
    height: 100%;
}

body {
	margin: 0px;
	background-color: white;
}

* {
	box-sizing: border-box;
}

/* NAVIGATION SIDEBAR-------------------*/

.sidebar {
	width: 150px;
	height: 100%;
	background-color: black;
	padding: 30px 0px 0px 20px;
	float: left;
	overflow:hidden;
	position: fixed;
}

.sidebar img {
	width: 100px;
}

.sidebar img:hover {
	opacity: 0.4;
	-webkit-transition: .2s; /* Safari */
	transition: .2s;
}

.links {
	margin-top: 15px;
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	line-height: 2em;
}

.links a:link {
	color: white;
	text-decoration: none;
}

.links a:visited {
	color: white;
	text-decoration: none;
}

.links a:hover {
	opacity: 0.4;
	-webkit-transition: .2s; /* Safari */
	transition: .2s;
}

.links a:active {
	opacity: 0.4;
}

.footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.copyright {
	color: white;
	font-family: tenso, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 1.6em;
	text-align: left;
}


/* PROJECTS-------------------*/

.content {
	margin-left: 150px;
	height: 100%;
	overflow-x: hidden;
	background-color: black;
}

.bgcolor {
	width: 100%;
	height: 375px;
	float: left;
	position: relative;
}

.bgcolor.one {
	background-color: teal;
}
.bgcolor.two {
	background-color: plum;
}
.bgcolor.three {
	background-color: orange;
}
.bgcolor.four {
	background-color: pink;
}
.bgcolor.five {
	background-color: #d2d77d;
}
.bgcolor.six {
	background-color: purple;
}

.project {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.project.one {
	background-image: url('thumbnails/amame-thumbnail.jpg');
}

.project.two {
	background-image: url('thumbnails/bubbletype-thumbnail.jpg');
}

.project.three {
	background-image: url('thumbnails/icarvetime-thumbnail.jpg');
}

.project.four {
	background-image: url('thumbnails/harrison-thumbnail.jpg');
}

.project.five {
	background-image: url('thumbnails/rockbot-thumbnail.jpg');
}

.project.six {
	background-image: url('thumbnails/epithet-thumbnail.png');
}


/*PROJECT HOVER EFFECTS-------------------*/

.project:hover{
	background-size: 103%;
	opacity: 0.7;
	-webkit-transition: .3s ease-in-out; /* Safari */
    transition: .3s ease-in-out;
}


/*PROJECT LABELS-------------------*/

.title { 
	background-color: black;
	padding: 8px;
	width: 50%;
	position: absolute;
	bottom: 0;
	/*border-radius: 0 15px 0 0;*/
}

h1 {
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	margin: 0;
}

h5 {
	color: white;
	font-family: tenso, sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	margin: 2px 0 0 0;
}

/*PROJECT LABELS HOVER EFFECTS-------------------*/

.project.one:hover .title {
	background-color: teal;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}

.project.two:hover .title {
	background-color: plum;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}
.project.three:hover .title {
	background-color: orange;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}
.project.four:hover .title {
	background-color: pink;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}
.project.five:hover .title {
	background-color: #d2d77d;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}
.project.six:hover .title {
	background-color: purple;
	-webkit-transition: .3s ease-in-out; /* Safari */
	transition: .3s ease-in-out;
}


/* MEDIA QUERIES*/

@media screen and (max-width: 2800px) {

}

@media screen and (max-width: 2000px) {

}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {

}


@media screen and (max-width: 760px) {
.bgcolor {height: 325px;}
}


@media screen and (max-width: 680px) {
.bgcolor {height: 250px;}
}


@media screen and (max-width: 600px) {
.sidebar {width: 100px; padding: 30px 0px 0px 10px;}
.sidebar img {width: 75px;}
.links {font-size: 18px;}
.copyright {font-size: 7px;}
.content {margin-left: 100px;}
.bgcolor {height: 200px;}
.title {width: 55%; padding: 5px;}
h1 {font-size: 12px;}
h5 {font-size: 9px;}
}


/*iPhone 6,7,8,X*/
@media screen and (max-width: 420px) {
.bgcolor {height: 170px;}
}

/*Galaxy S5 */
@media screen and (max-width: 360px) {	
.bgcolor {height: 160px;}
}


/*iPhone 5*/
@media screen and (max-width: 320px) {	
.bgcolor {height: 125px;}
.title {width: 65%; padding: 5px;}
}

