h1 {
	color: blue;
	font-size: 72px;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;


}
video {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter:blur(10px);
      -webkit-filter: blur(10px);
}

.container {
	width: 800px;
	margin: 0 auto;
}

.login {
	width: 800px;
	height: 200px;
	margin: 100px auto 0 auto;
	background: cyan;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.login.password {
	margin: 10px auto;
}