body {
	font-family: Arial;
/*	background: rgba(255,0,230,0.3);*/
overflow: hidden;
}
	
p {
	line-height: 2.6em;
}
a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}

.circleContainer {
	width: 290px;
	height: 290px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.bigCircle {
	width: 290px;
	height: 290px;
	border-radius: 50%;
/*	border: 1px black solid;*/
	background: rgba(131,224,224,0.5);
	z-index: -1;
	transition: all .4s ease-in-out;
}
.bigCircle:hover {
	transform: scale(2);
}
