.nav {
	color: white;
	font-size: 24px;
	text-decoration: none;
	position: fixed;
	width:260px;
	top: 0;
	right:0;
	padding: 0 10px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	font-style: normal;
}

.nav.one {
	background: rgba(107,37,237,0.9);
}
.nav.two {
	background: rgba(80,183,126,0.9);
}
.nav.three {
	background: rgba(230,25,157,0.9);
}
.nav.four {
	background: rgba(199,217,119,0.9);
}
.nav.five {
	background: rgba(142,190,237,0.9);
}
a {
	text-decoration: none;
}
.nav a:link {
	text-decoration: none;
}
.nav a:visited {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: gray;
}

.home {
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 60px;
	color: white;
	line-height: normal;
	font-style: normal;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.home a:visited {
	color:white;
}
.home a:hover {
	color: gray;
}

