* {
  box-sizing: border-box;
}
#confeti{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 50;
        box-shadow: inset 1px 1px 60px 20px rgba(0,0,0,0.4);
}

#con1 {
	position: absolute;
	right: 25px;
  top: 25px;
	width: 175px;
  z-index: 100;
}

img {
  width: 100%;
  display: block;
}


body {
	background: #560C28;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  margin: 0 auto;
  display: block;
}

.abuelos {
  position: relative;
  margin: 60px auto 0 auto;
 /* outline: #FADCCD solid 1px;*/
  width: 600px;
  overflow: hidden;
  box-shadow: 1px 1px 60px 20px rgba(255,255,255,0.2);
  z-index: 1;
}

.florish {
  position: absolute;
  z-index: 40;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -40px;
  width: 700px;
  opacity: 1;
}

h1 {
	font-family: Goudy, serif;
  font-style: italic;
	font-weight: bold;
	font-size: 30px;
	margin: 20px auto;
	text-align: center;
  display: block;
  color: #EDE4D2;
}
h2 {
  font-family: Goudy, serif;
  font-weight: bold;
  font-size: 21px;
  color: #EDE4D2;
}

.left {
  position: fixed;
  left: 25px;
  bottom: 15px;
}

.right {
  position: fixed;
  right: 25px;
  bottom: 15px;
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  animation-timing-function: linear;

  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: rotate3d(0,1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 10, 0deg);
  }
}

.shine{
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(-30deg);
  background: -webkit-linear-gradient(top, transparent, rgba(200,200,200,0.2),transparent);
  position: absolute;
  z-index: 30;
  -webkit-animation: shine 5s ease-in-out infinite;
}

@-webkit-keyframes shine{
  0%{
    margin-top: -300px;
    
  }
  100%{
    margin-top: 800px;
  }
}

 /* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    -webkit-transition: .3s; /* Safari */
  transition: .3s;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.btn-container {
  width: 450px;
  margin: 0 auto;
  height: 30px;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: -40px;
  opacity: 1;
  width: 60px;
  z-index: 75;
  animation-name: updown;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  animation-timing-function: linear;

  -webkit-animation-name: updown;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;

}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}



/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.5;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@media screen and (max-width: 600px) {
h1 {font-size: 24px;}
h2 {font-size: 18px;}
.right,.left {position: relative; margin: 20px auto; text-align: center; right:0; left:0;}
.abuelos {width: 300px;}
.florish {width: 350px; bottom: -20px;}
#con1 {position: relative; margin: 0px auto 20px auto; top: 0; right: 0; width:100px;}
.btn-container {width: 250px;}
.prev, .next { width: 30px; top:-20px;}
}


