* {
  box-sizing: border-box;
}
#confeti{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 50;
        height: 100%;
        box-shadow: inset 1px 1px 60px 20px rgba(0,0,0,0.4);
}

#con1 {
	position: absolute;
	right: 25px;
  top: 25px;
	width: 175px;
  z-index: 100;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
	background: #560C28;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  margin: 0 auto;
  display: block;
}

.abuelos {
  position: relative;
  margin: 50px auto 0 auto;
 /* outline: #FADCCD solid 1px;*/
  width: 600px;
  overflow: hidden;
  box-shadow: 1px 1px 60px 20px rgba(255,255,255,0.2);
  z-index: 1;
}

.florish {
  position: absolute;
  z-index: 40;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -16px;
  width: 775px;
  opacity: 1;
}

h1 {
	font-family: Goudy, serif;
  font-style: italic;
	font-weight: bold;
	font-size: 30px;
	margin: 20px auto;
	text-align: center;
  display: block;
  color: #EDE4D2;
}
h2 {
  font-family: Goudy, serif;
  font-weight: bold;
  font-size: 21px;
  color: #EDE4D2;
  z-index: 75;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

h2:hover {
  opacity: 0.5;
  cursor: pointer;
}

h2:link {
  text-decoration: none;
}

.galleryLink {
  position: fixed;
  top: 25px;
  left: 25px;
}

.left {
  position: fixed;
  left: 25px;
  bottom: 15px;
}

.right {
  position: fixed;
  right: 25px;
  bottom: 15px;
}

#con1 h2 {
text-align: center;
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  animation-timing-function: linear;

  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: rotate3d(0,1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 10, 0deg);
  }
}

.flipInY:hover {
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  cursor: pointer;
}

#con1:hover .flipInY {
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  cursor: pointer;
}

.shine{
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(-30deg);
  background: -webkit-linear-gradient(top, transparent, rgba(200,200,200,0.2),transparent);
  position: absolute;
  z-index: 30;
  -webkit-animation: shine 5s ease-in-out infinite;
}

@-webkit-keyframes shine{
  0%{
    margin-top: -300px;
    
  }
  100%{
    margin-top: 800px;
  }
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.btn-container {
  width: 450px;
  margin: 0 auto;
  height: 20px;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: -40px;
  opacity: 1;
  width: 60px;
  z-index: 75;
  animation-name: updown;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  animation-timing-function: linear;

  -webkit-animation-name: updown;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;

}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.5;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



/* GALLERY================================================================== */

.gallery {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;
      /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px; 
}

.gallery img {
    /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 5px 5px 0px 0px;
}

.border {
  border: inset 3px #caa20c; 
  width: 100%; 
  height: 100%; 
  z-index:-9; 
  transform: scale(0.95,0.95); 
  -webkit-transform: scale(0.95,0.95);
}

.myImg {
  display: inline-block;
  width: 250px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.myImg:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
    height: auto;
    max-height: 550px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    text-align: left;
    color: white;
    padding: .5%;
    height: 25px;
    font-family: tenso, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 9px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
h1 {font-size: 24px;}
h2 {font-size: 18px;}
.right, .left, .galleryLink {position: relative; margin: 20px auto; text-align: center; right:0; left:0; top:0;}
.abuelos {width: 300px;}
.florish {width: 375px; bottom: -5px;}
#con1 {position: relative; margin: 0px auto 0px auto; top: 0; right: 0; width:100px;}
.btn-container {width: 250px;}
.prev, .next { width: 30px; top:-20px;}
}

@media screen and (max-width: 320px) {
h1 {font-size: 22px;}
h2 {font-size: 16px;}
.right, .left, .galleryLink {position: relative; margin: 15px auto; text-align: center; right:0; left:0; top:0;}
.abuelos {width: 275px; margin: 10px auto 0 auto}
.florish {width: 315px; bottom: 5px;}
}

@media (max-width: 1200px) {
 .gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
.gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
.gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
.gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

