* {
  box-sizing: border-box;
}
#confeti{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
}

#con1 {
	position: absolute;
	right: 25px;
  top: 25px;
	width: 175px;
	height: 175px;
	text-align: center;
}

img {
  width: 100%;
  display: block;

}

body {
	background: #3C1928;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #FADCCD;
}

#container {
  position: relative;
  margin: 0 auto;
  display: block;
}

.abuelos {
  position: relative;
  margin: 50px auto;
  outline: #FADCCD solid 5px;
  width: 600px;
  box-shadow: 1px 1px 60px 20px rgba(255,255,255,0.4);
}

h1 {
	font-family: Goudy, serif;
	font-weight: bold;
	font-size: 36px;
	margin: 25px auto;
	text-align: center;
  display: block;
}
h2 {
  font-family: Goudy, serif;
  font-weight: bold;
  font-size: 24px;
}

.left {
  position: fixed;
  left: 25px;
  bottom: 15px;
}

.right {
  position: fixed;
  right: 25px;
  bottom: 15px;
}



@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg); 
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-iteration-count:infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@-webkit-keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 40%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 60%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 700px 700px;
    }

    to {
        background-repeat:no-repeat;
        background-position: 600px 600px;
       
    }
}

.shine-me {
  opacity: .4;
  position: absolute;
  top: 0;
  z-index: 100;
  width:100%;
  height: 100%;
    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.2,.8,.9,.3);
}


@media screen and (max-width: 600px) {
h1 {font-size: 24px; margin-top: 100px;}
h2 {font-size: 18px;}
.abuelos {width: 300px;}
#con1 {position: relative; margin: 20px auto; top: 0; right: 0;}
}


