body {
	margin: 0px;
}
* {
	box-sizing: border-box;
}

.container {
	width: 800px;
	margin: 0 auto;
	display: block; 
}


.newpage {
	width: 100%;
	height: 800px;
	background-color: teal;
}

.home {
	width: 100%;
}

.nav {
	width: 800px;
	height: 75px;
	background-color: coral;
	position: relative;
	
}

h2 {
	margin: 0px;
}









/* Media Queries*/
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
  h1 {font-size: 48px;}

}
