body {
	font-family: Arial;
/*	background: rgba(255,0,230,0.3);*/
overflow: hidden;
}
	
p {
	line-height: 2.6em;
}
a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}

.container {
    width: 900px;
    margin: 170px auto;
    text-align: center;
}
.bigCircle {
	width: 290px;
	height: 290px;
	border-radius: 50%;
/*	border: 1px black solid;*/
	position: fixed;
	background: rgba(131,224,224,0.5);
	left: 489px;
	top: 153px;
	z-index: -1;
	transition: all .4s ease-in-out;
}
.bigCircle:hover {
	transform: scale(2);
}
